
white = #f2f2f2
black = #2f3033
light-yellow = #dbc778
dark-yellow = #c0a747
yellow = #dfbb24

body
  margin 0px
  padding 0px
  font-family 'Open Sans Condensed', sans-serif
  color black

header
  position relative
  width 100%
  overflow hidden
  text-align center
  border 0px none white
  border-bottom 1px solid black

  background light-yellow
  background url('data:image/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmYmIyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmM3NzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+')
  background -moz-linear-gradient(top, light-yellow 0%, yellow 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,light-yellow), color-stop(100%,yellow))
  background -webkit-linear-gradient(top, light-yellow 0%,yellow 100%)
  background -o-linear-gradient(top, light-yellow 0%,yellow 100%)
  background -ms-linear-gradient(top, light-yellow 0%,yellow 100%)
  background linear-gradient(to bottom, light-yellow 0%,yellow 100%)
  filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='light-yellow', endColorstr='yellow',GradientType=0)"


.banner
  position relative
  background-color yellow
  width 100%
  text-align center
  border 0px none white
  border-top 1px solid black
  border-bottom 1px solid black
  overflow visible

  .button
  	-moz-box-shadow inset 0px 1px 0px 0px #e6e6e6
  	-webkit-box-shadow inset 0px 1px 0px 0px #e6e6e6
  	box-shadow inset 0px 1px 0px 0px #e6e6e6
  	background -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbc778), color-stop(1, #c0a847) )
  	background -moz-linear-gradient( center top, #dbc778 5%, #c0a847 100% )
  	filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbc778', endColorstr='#c0a847')"
  	background-color #dbc778
  	-moz-border-radius 6px
  	-webkit-border-radius 6px
  	border-radius 6px
  	border 1px solid #696969
  	display inline-block
  	color #2f3033
  	font-family arial
  	font-size 1.4em
  	padding 12px 48px
  	text-decoration none
  	text-shadow 1px 1px 0px #dbdbdb
  	margin 10px
  .button:hover
  	background -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c0a847), color-stop(1, #dbc778) )
  	background -moz-linear-gradient( center top, #c0a847 5%, #dbc778 100% )
  	filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0a847', endColorstr='#dbc778')"
  	background-color #c0a847
  .button:active
  	position relative
  	top 1px
  

.content-box
  position relative
  background-color white
  width 100%
  height auto
  text-align center
  border 0px none white

footer
  position relative
  text-align center
  border 0px none white
  border-top 1px solid black

  background yellow
  background url('data:image/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYzc3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY3JSIgc3RvcC1jb2xvcj0iI2RmYmIyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=')
  background -moz-linear-gradient(top, yellow 0%, light-yellow 67%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,yellow), color-stop(67%,light-yellow))
  background -webkit-linear-gradient(top, yellow 0%,light-yellow 67%)
  background -o-linear-gradient(top, yellow 0%,light-yellow 67%)
  background -ms-linear-gradient(top, yellow 0%,light-yellow 67%)
  background linear-gradient(to bottom, yellow 0%,light-yellow 67%)
  filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='yellow', endColorstr='light-yellow',GradientType=0)"

h1, h2, h3, h4
  font-family 'Six Caps', sans-serif
  font-weight 400
  line-height 1em
  margin 0px
  text-transform uppercase

h1
  font-size 6em
  color white
  padding 10px 0px
  letter-spacing 10pt
  a
    text-decoration none
    color white
  a: hover
    text-decoration none
    color black

h2
  font-size 3em
  color black
  padding 10px 0px 20px
  letter-spacing 10pt

h3
  font-size 2em
  color black
  padding 10px 0px 20px
  letter-spacing 10pt

h4
  font-size 1em
  color black
  padding 10px 0px 20px
  letter-spacing 5pt

p
  font-family 'Open Sans Condensed', sans-serif
  font-size 1.2em
  font-weight 400
  line-height 1.6em
  margin 0px
  color black
  padding 10px 0px 20px

ul
  font-family 'Open Sans Condensed', sans-serif
  font-size 1.2em
  font-weight 400
  line-height 1.6em
  color black

.books
  position relative
  background-color white
  width 100%
  text-align center
  border 0px none white

.book-cover
  position relative
  width 400px
  border 0px none white
  margin 50px 20px

.content
  position relative
  margin 0px auto
  width 80%
  max-width 800px
  text-align left
  padding 10px 0px

  h2
    color black
    letter-spacing 3pt
    padding 10px 0px

  h3
    color black
    letter-spacing 2pt
    padding 10px 0px
    a
      color black
    a: hover
      color dark-yellow

  a
    text-decoration none
    color dark-yellow
  a: hover
    text-decoration none
    color black

