<!DOCTYPE html>
<html>
  <head>
    <title><%= article.title %> - Lean Startup for Developers - Mark Nijhof </title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="apple-itouch-icon" href="/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Six+Caps|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->  </head>
  <body>
    <header class="gradient">
      <h1>Lean Startup For Developers</h1>
    </header>

    <div class="content-box">
      <div class="content">

        <h2><a href="/blog">POSTS</a> - <%= article.title %></h2>

        <%- article.content %>
      </div>
    </div>

    <div class="books">
      <a href="/leanpub" onclick="_gaq.push('_trackPageview', '/leanpub'); return true;"><img src="/images/lean-startup-for-developers-business-book-small.png" class="book-cover"></a>
      <a href="/leanpub" onclick="_gaq.push('_trackPageview', '/leanpub'); return true;"><img src="/images/lean-startup-for-developers-technology-book-small.png" class="book-cover"></a>
    </div>
    <div class="banner">
      <a href="/leanpub" onclick="_gaq.push('_trackPageview', '/leanpub'); return true;" class="button">Go get the bundle now, at leanpub!</a>
    </div>

    <div class="content-box">
      <div class="content">
        <p>&nbsp;</p>
        
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'ls4d';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>

      </div>
    </div>

    <footer>
      <h4> MARK NIJHOF </h4>
    </footer>
    <% include ../includes/google_analytics %>
  </body>
</html>
    