<!DOCTYPE html>
<html>
  <head>
    <title> Lean Startup for Developers - Mark Nijhof </title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="apple-itouch-icon" href="/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Six+Caps|Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->  </head>
  <body>
    <header class="gradient">
      <h1>Lean Startup For Developers</h1>
      <h2>Two Books One Goal</h2>
    </header>
    <div class="books">
      <a href="/leanpub" onclick="_gaq.push('_trackPageview', '/leanpub'); return true;"><img src="/images/lean-startup-for-developers-business-book-small.png" class="book-cover"></a>
      <a href="/leanpub" onclick="_gaq.push('_trackPageview', '/leanpub'); return true;"><img src="/images/lean-startup-for-developers-technology-book-small.png" class="book-cover"></a>
    </div>
    <div class="banner">
      <a href="/leanpub" onclick="_gaq.push('_trackPageview', '/leanpub'); return true;" class="button">GET THE BUNDLE</a>
    </div>
    <div class="content-box">
      <div class="content">
        <h2>About The Books</h2>
        <p>I have been building software professionally since 2000. One thing that is strikingly clear to me is; the amount of waste that is being created in our industry. We build and build without knowing that what we build is actually valuable. Will they use it? Will they pay for it? We just don’t know!</p>

        <p>So, there is the Lean Startup to the rescue. We now know that we should build a Minimal Valuable Product or MVP, instead of going all the way. But, now I hear things like; “Our MVP will be ready in a few months”. Is it really necessary to wait several months before you can validate your ideas? I don’t think it is!</p>

        <p>We have come so accustomed to long running projects that we think delivering something in a month is fast. So, these books are about creating a different mindset, and about using the right tools. It is about accepting that building a MVP is not the same as building a product. This book is based on my own experiences, starting <a href="https://inqob.com">Inqob</a> and <a href="http://randommanager.com">Random Manager</a>. Two startups still in their early phases.</p>

        <h3>Who Is It For?</h3>

        <p>The bundle is mostly written for developers, it contains both the business book and the technical book. If you can relate to any of these points then the book might be right for you:</p>

        <ul>
          <li>You are thinking of building your own product, but you don't know where to start?</li>
          <li>You have already started your own adventure, and you would like to hear someone else's experiences running their own startup.</li>
          <li>You have no plans on starting something on your own, but you like the Lean Startup ideas and would like to apply them in your day to day work.</li>
          <li>You are non-technical, but would like to learn about what goes on inside the head of a technical person.</li>
        </ul>

        <h3>Publisher: Leanpub</h3>

        <p>Both books are self published at LeanPub. Leanpub is a Vancouver-based ebook startup that lets authors self-publish their books as they write them. That way, authors can develop a community of readers during the writing process, gauging interest in their project and, if they so choose, incorporating feedback from you, their readers.</p>
        
        <p>Lean publishing is the act of publishing a book while you are writing it, evolving the book with feedback from your readers and finishing a first draft before optionally using the traditional publishing workflow. Leanpub is the best way in the world for authors to do the lean publishing process.</p>

        </div>
      </div>

    <div class="banner">
      <a href="/blog" class="button">READ MORE ON THE LS4D BLOG</a>
    </div>

    <div class="content-box">
      <div class="content">
        
        <h2>ABOUT THE AUTHOR</h2>
        <img src="/images/mark-nijhof-portrait-small.jpg" style="float:right;width:170px;padding:15px 10px;" />
        <p>Mark has worked in the software industry since 2000 during this time he has had many different roles, from Developer, Customer Support, Team Lead till Agile Coach. Currently, besides working as an Agile Coach.</p>

        <p>You may read more about Mark's thoughts on his blog <a href="http://cre8ivethought.com/blog">http://cre8ivethought.com/blog</a> or on twitter <a href="https://twitter.com/marknijhof">@MarkNijhof</a></p>
      </div>
    </div>
        
    <footer>
      <h4> MARK NIJHOF </h4>
    </footer>
    <% include includes/google_analytics %>
  </body>
</html>
